.JobsPage {
    display: flex;
    height: 100%;
    width: 100%;
}

.MainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 75%;
}

.PopUpSection {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // background-color: #f7f7f7;
    // width: 25%;
    // transition: right 0.3s ease;
    position: fixed;
    top: 50%;
    right: -50px; /* Initially off-screen to the right */
    transform: translateY(-50%);
    background-color: #f7f7f7;
    width: 25%;
    height: inherit;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: right 2s ease; /* Transition for sliding effect */
    z-index: 1000; /* Ensure it appears above other elements */
}